@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
    color: #ffff;
    
}
body p{
    font-size: 16px;
    opacity: 80%;
    
}

/* navbar related sytles */

nav{
    max-width: 1600px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}
.nav-container{
    flex-direction: row;
    flex-wrap: wrap;

}
nav>img{
    width: 220px;
    height: 32px;
    
}

nav>div{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    gap: 32px;

}
.humburger-icon{
    display: none;
}

.display-flex{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}
.btn-primary{
    padding: 12px 20px;
    border-radius: 100px;
    
    font-size: 16px;
    font-weight:500;
    color: #ffff;
    background-image: linear-gradient(47deg,
                    rgba(247, 233, 63, 1), 
                    rgba(251, 9, 180, 1),
                    rgba(145, 0, 248, 1));
}

/* secondery-botton */

.btn-container {
    
    
    font-size: 1rem;
    border-radius: 50px;
    font-weight: 500;
    /* padding: 15px 10px; */
    padding: 12px 20px;
    
    
}
.primary{
    color: #ffff;
    background-image: linear-gradient(47deg,
                    rgba(247, 233, 63, 1), 
                    rgba(251, 9, 180, 1),
                    rgba(145, 0, 248, 1));
}
.secondary{
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
}

/*Hero section styles */

.hero-container{
    max-width: 1600px;
    /* width: 1200px; */
    margin: 0 auto;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center top;
    
    justify-items: center;
}

.hero-container .hero-bg{
    
    width: 550px;
    height: 560px;
    padding-top: 100px;
    align-content: center;
    justify-items: center;
    text-align: center;
  
}
#hero-bg-image{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-size:auto;
    background-image: url(../assets/hero-circle.png);
    background-position: center ;
    background-repeat: no-repeat;
    padding-top: 85px;
    text-align:center;
 
}

.badge{
    color: #1A0B2E;
    width: 75px;
    height: 38px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background-color: #00FF88;
    font-size: 1rem;
    padding: 8px 16px;
    display: block;
    text-transform: uppercase;
    position: absolute;
    margin-top: -250px;
    margin-left: 250px;
    border-radius: 25px;
    transition: background-color 2s, color 2s ;
}
.badge:hover{
    width: 100px;
    background-color: #1A0B2E;
    color: red;
}


.hero-bg h2{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 73px;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.hero-bg p{
    width: 440px;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    opacity: 80%;
}
.btn-container{
    margin-top: 20px;
}

/* about section related styles */

.about-section{
    max-width: 1600px;
    height: 646px;
    margin: 0px auto;
}
.about-container{ 
    margin: 0 auto;
    width: 1200px;
    
}
.about-heading{
    padding: 50px 200px 120px 200px;
    
}
.about-heading h2{
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
}
.about-heading p{
    text-align: center;
    opacity: 80%;
}
#horizontal-line{
    width: 1200px;
    align-items: center;
    height: 1px;
    opacity: 10%;
    background-color: #D9D9D9
 
}

.stats{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.info h2{
    font-size: 3rem;
    color: #00FF88;
     
}
.info p{
    opacity: 80%;
    font: 16px;
    text-transform: uppercase;
}
/* grid layout section */


/* features episodes design styles */

.heading-section{
    max-width: 1600px;
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.heading-section h3{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    
}

.feature-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 20px;
    align-content: center;
    
}
.video-section{
    border-radius: 24px;
    background-color: #230E3D;
    

}
.video-section iframe{
    width:380px;
    height:200px;
    border-radius: 24px ;
    align-content: center;
    align-items: center;

}
.title-section{
    padding: 24px;
    
}
.title-section>h5{
    color: #00FF88;
    padding-top: 10px;
}
.video-section h4{
    font-size:24px ;
    font-weight: 700px;
    letter-spacing: 0px;

}
.video-section p{ 
    margin-top: 12px;
}

/* host section meet the host */

.host-container{
    display: flex;
    flex-direction: row;
    padding: 40px;
    border-radius: 24px;
    background-color: #35116468;
    gap: 24px;
}
.host-container>img{
    width: 200px;
    height: 200px;

}
.text-container {
    text-align: left;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.text-container h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}
.social-icons {
    display: flex;
    align-items:flex-start;

    gap: 16px;
}
.social-icons img{
    width: 20px;
    height: 20px;
    align-content: center;
    align-items: center;
}
.social-icon img:hover {
    width: 25px;
    height: 25px;
}
.social-icons a:hover{
    
    border:1px solid #fff;
}
.social-icons a{
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
    align-items: center;
    border: 1px solid #533C72;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}
/* shared styles */


/* grid-section  */
.background-color{
    background-color: #230E3D;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 80px;
}
.container {
    width: 1200px;
    max-width: 1600px;
    background-color: #230E3D;
    margin: 0 auto;
    
}

/* check in mobile device */
.heading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 40px;
}

.card {
    background: #35116468; 
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column; 
    align-items:start;
    align-content:center;
    text-align: left;
}

.card-img {
    width: 60px;
    height: auto;
    margin-bottom: 16px;
}

h3{ 
    margin-bottom: 12px; 
    font-size: 2rem; 

}
p{ 
    line-height: 26px; 
    

}
/* check in mobile device */
/* footer section styles */

.footer{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    color: #fff;
}
.footer-container {
  max-width: 1600px;
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.social-links {
    list-style: none;
    display: flex;

    justify-content: center;
    gap: 30px;
    align-items: center;
    font-size: 1rem;
    opacity: 80%;
 
}


.social-links img{
    padding-left: 10px;
    align-items: center;
}
.footer-container p{
    padding-top: 40px;
}

/* grid start */

.heading{
    font-size: 3rem;

    }
    
.feature-grid {
    display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 40px;
    }

.premium {
        grid-row: span 2; 
    }

.mobile, .global {
        grid-column: span 2;
    }

.exclusive {
        grid-column: span 2;
    }

 .resources {
        grid-column: span 1;
    }
    
 .card { 
    padding: 40px;
 }
/* grid end */

/* Dextop Device Styles */
@media screen and (max-width:992px){


 
}


/* Tablet Device Styles */
@media screen and (min-width:575px) and (max-width:992px){
    nav{
        width: 440px;
        flex-direction: row;
        padding: 18px 20px;
        align-items: center;
    }
    .humburger-icon{
    display: none;   
}
    nav .menu-container{
        display:none;
        
    }
    nav .btn-primary{
    display: none;
}

}


/* Mobile Device styles */
@media screen and (max-width:576px) {
    nav{
        height: 60px;
        padding: 18px 20px;
    }
    nav>img{
        width: 137px;
        height: 20px;
    }
    nav .menu-container{
        display:none;
        
    }
    .humburger-icon{
        width: 40px;
        height: 30px;

        display: block;
    }
    
    
    .btn-primary{
        display: none;
    }

    .hero-container{
    width: 440px;
    height: 446px;
    background-size: cover;
    background-position:center;
    
}
.hero-container .hero-bg{
    width: 500px;
    height: 485px;
    padding-top: 0px;

    
 
}   
#hero-bg-image{
    width: 150px;
    height: 150px;
    padding-top:50px;
    background-size: contain;
    margin: 0px 0px;
  
}
.hero-bg img{
    width: 50px;
    height: 100px;
    padding-bottom: 40px;
    justify-content: center;
    align-content: center;
}

.badge{
    font-size: 1rem;
    margin-top: -150px;
    margin-left: 110px;
}

/* about section Mobile */

.about-section{
    background-color: #1A0B2E;
    height:auto;
    padding: 100px 0px;
    margin: 0px auto;
    
}
.about-container{
    width: 440px;
    height: auto;
}
.about-heading{
    
    padding: 40px 20px;
}
.about-heading h2{
    font-size: 2rem;
    font-weight: 700px;
    padding-bottom:20px;
}
.about-heading p{
    
    opacity: 80%;
}
#horizontal-line{
    width: 440px;
    height: 1px;
    opacity: 10%;
    color: #D9D9D9;

}
.stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top:0px;
    padding: 20px;
    gap: 40px;
}
 /* grid section */
.background-color{
    background-color: #230E3D;
    padding: auto;
    margin: 0 auto;
    
    
}
.container {
    width: 440px;
    background-color: #230E3D;
    margin: 0 auto;
 
}
.heading{
    font-size: 2rem;

}

.heading-section{
    
    width: 440px;
    align-content: center;
    margin:0 auto;
    padding: 100px 0px;
}
.heading-section h3{
    font-size: 2rem;
}

.feature-container{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

.video-section iframe{
    width:100%;
    

}

.host-container{
    width: 440px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.host-container>img{
    width: 150px;
    height: 150px;

    align-content: center;
    align-items: center;
    

}

.text-container{
    text-align: center;
}
/* footer section mobile device styles */
.footer-container {
  width: 440px;
  display: flex;
  flex-direction: column;
  
}
.social-links {
    margin: 20px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    gap: 5px;
  }

  
  .heading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}







.resources{
    grid-column: span 1;
}

}